*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
body{
    background-color: #fff;
}
header{
    background-color: RGB(14, 144, 154);
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1.8rem;
}
#arrow{
    position: relative;
    font-size: x-large;
    animation: move 1s linear alternate infinite;
}
@keyframes move {
    from{top: -5px} to{top: 8px}
}
#colorId{
    font-weight: 800;
    font-size: 2.5rem;
}
#score{
    width: min(50%, 80px);
    color: #429ea7;
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: sans-serif;
    border: 3px solid RGB(14, 144, 154);
    border-top: 0;
    border-radius: 0 0 15px 15px;
}
#container{
    max-width: 600px;
    margin: 10px auto;
}
@media screen and (max-width: 400px){
    #container{margin: 80px auto;}   #colorId{font-size: 2.2rem;}
}
.square{
    background: #429ea7;
    width: 30%;
    padding-top: 30%;
    float: right;
    margin: 1.6%;
    border-radius: 15px;
    transition: background .5s;
    cursor: pointer;
}
#correct, #wrong{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #4CAF50;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
    opacity: 0;
    transition: .5s;
}
#wrong{background: #f44336;}
#alertCont{
    position: absolute;
    top: 0;   left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: none;
    justify-content: center;    align-items: center;
    z-index: 10;
}
#alertBox{
    width: 80%;  max-width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    color: #000;
    display: none;
}
#closeAlert{
    width: 100%;
    background: RGB(14, 144, 154);
    border-radius: 5px;
    padding: 5px;
    border: 0;
    font-weight: bold;
    font-size: 1.5rem;
}